In [1]:
import pandas as pd
import numpy as np
import config
from sqlalchemy import text
print(config.version)
print(config.connection_string)
pd.set_option('display.max_columns', None)

3.2.0.Dev
postgresql://postgres:sa@localhost/icip

In [23]:
df = pd.read_excel("../data/iris/demo-pop-sexe-age-effectif.xlsx", skiprows=3)
df = df.transpose()
df = df[np.arange(15)]
df.columns = ["015","1519","2024","2529","3034","3539","4044","4549","5054","5559","6064","6569","7074","75+","all"]
df = df.drop(["Groupe d'âges", "Sureprésentation"])
df = df.drop(df.tail(1).index)
df = df.reset_index()
df.to_sql("demo_pop", config.connection_string, schema="iris", if_exists="fail", index=False)
df

,index,015,1519,2024,2529,3034,3539,4044,4549,5054,5559,6064,6569,7074,75+,all
0,Femmes,5586.0,2073.0,1939.0,1945.0,2060.0,2205.0,2241.0,2096.0,2283.0,2251.0,2222.0,2093.0,1991.0,4342.0,35326.0
1,Hommes,5861.0,2214.0,2023.0,1943.0,1999.0,2104.0,2130.0,2042.0,2233.0,2157.0,2073.0,1855.0,1679.0,2965.0,33279.0
2,Ensemble,11447.0,4287.0,3962.0,3888.0,4059.0,4309.0,4371.0,4138.0,4516.0,4408.0,4295.0,3948.0,3669.0,7307.0,68606.0
3,Proportion,0.166851,0.062487,0.05775,0.056671,0.059164,0.062808,0.063712,0.060315,0.065825,0.064251,0.062604,0.057546,0.053479,0.106507,1.0